In [47]:
import pandas as pd

In [48]:
df = pd.read_csv("spotify_millsongdata.csv")

In [49]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [50]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [51]:
df.shape

(57650, 4)

In [52]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [53]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [54]:
df.head(10)

,artist,song,text
0,Helloween,Blue Suede Shoes,"Well, it's one for the money \r\nTwo for the ..."
1,Robbie Williams,Shine My Shoes,"Another dawn, another day, another dollar to b..."
2,Elvis Costello,Chelsea,Photographs of fancy tricks \r\nTo get your k...
3,R. Kelly,Angel,There's no better way to describe \r\nWhat yo...
4,Who,Pinball Wizard,"Ever since I was a young boy, \r\nI've played..."
5,Cliff Richard,Junior Cowboy,Looking down on a junior cowboy \r\nI see mys...
6,Beach Boys,Forever,If every word I said \r\nCould make you laugh...
7,Nick Cave,Foi Na Cruz,"Foi na cruz, foi na cruz \r\nQue um dia \r\n..."
8,Children,Brown Baby,"Brown baby, brown baby, \r\nAs you grow up I ..."
9,Fabolous,Last Time,"This is the last time, I know I'm 'bout to dri..."

In [55]:
df['text'][0]

"Well, it's one for the money  \r\nTwo for the show, three to get ready  \r\nNow go cat, go but don't you  \r\nStep on my blue suede shoes  \r\nFor you can knock me down, step in my face  \r\nSlander my name all over the place  \r\nDo anything that you wanna do  \r\nBut, oh oh, honey, lay off of my shoes  \r\nWell, you can do anything  \r\nBut lay off of my blue suede shoes  \r\nYou can burn my house, you can steal my car  \r\nDrink my liquor from an old fruit jar  \r\nYou can do anything that you wanna do  \r\nBut, oh oh, honey, lay off of my blue suede shoes  \r\nYou can do anything  \r\nBut don't step on my blue suede shoes  \r\nWell, it's one for the money  \r\nTwo for the show, three to get ready  \r\nNow go cat, go but don't you  \r\nStep on my blue suede shoes  \r\nBlue, blue, blue, blue suede shoes  \r\n\r\n"

In [56]:
# df = df.sample(5000)

In [57]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [58]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [59]:
df.tail(5)

,artist,song,text
4995,Nine Inch Nails,Closer (To God),you let me violate you \r you let me desecrat...
4996,Wet Wet Wet,Maybe Tomorrow,she's getting out of control \r she's takin' ...
4997,Leo Sayer,The End,he says he doesn't care \r to the girl with t...
4998,John Legend,Good Morning,"good morning, \r good morning love, \r it's ..."
4999,Randy Travis,No Reason To Change,i know a man we call him poor boy jones \r he...

In [60]:
#Natural language toolkit
#Porter stemmer -  the process of reducing inflected form of a word to one so-called “stem,” or root form
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

In [61]:
def token(txt):
    tokens = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in tokens]
    return " ".join(a)

In [62]:
token("you are beautiful")

'you are beauti'

In [ ]:
#it allows us to create an anonymous function

In [63]:
df['text'].apply(lambda x: token(x))

0       well , it 's one for the money two for the sho...
1       anoth dawn , anoth day , anoth dollar to be ma...
2       photograph of fanci trick to get your kick at ...
3       there 's no better way to describ what you do ...
4       ever sinc i wa a young boy , i 've play the si...
                              ...
4995    you let me violat you you let me desecr you yo...
4996    she 's get out of control she 's takin ' my so...
4997    he say he doe n't care to the girl with the pa...
4998    good morn , good morn love , it 's my favorit ...
4999    i know a man we call him poor boy jone he 's n...
Name: text, Length: 5000, dtype: object

TfidVectorizer - It converts a collection of text documents into numerical vectors, allowing for efficient text analysis and comparison.

Cosine_similarity - Cosine similarity measures the similarity between two vectors of an inner product space. It is measured by the cosine of the angle between two vectors and determines whether two vectors are pointing in roughly the same direction. It is often used to measure document similarity in text analysis.

In [71]:

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [72]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [73]:
similarity[0]

array([1.        , 0.13250262, 0.02602269, ..., 0.00359986, 0.01597533,
       0.00269945])

In [74]:
df[df['song'] == 'The End'].index[0]

4997

*Building a Recommender Model:*
   - Choose a recommendation algorithm. Collaborative Filtering and Content-Based Filtering are two common approaches.
   
   *Content-Based Filtering:*
   - In your case, content-based filtering might be more suitable since you're focusing on analyzing the text/lyrics descriptions. This approach recommends items similar to those the user has shown interest in.
   - Calculate similarity scores between videos based on their preprocessed descriptions and feature representations.
   - Recommend songs that have similar descriptions to the ones the user has liked or interacted with in the past.

Recommender Function

In [75]:
def recommendation(song_name):
    idx = df[df['song'] == song_name].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [76]:
recommendation('Maybe Tomorrow')

['Love Touch',
 "Let's Make It Baby",
 'More',
 "Won't Let You Go",
 'Clean Up Woman',
 'Dreamland Express',
 'Total Control',
 'Maybe',
 'Baby',
 'Next To You',
 'This Side Of Me',
 'Lost',
 'Something Crazy',
 'I Want You',
 'Yeah',
 'I Just Want To Touch You',
 'On The Line',
 'Let Me Go Lover',
 'Let It Be',
 "Break Each Other's Hearts Again"]

In [80]:
import pickle

pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))

In [ ]:
#demo songs
#im yours, im yours, sunshine